*.dll
# Build results
bin/
obj/
out/


# Logs, database, and backups
*.log
*.tlog
*.sqlite
*.db
*.bak
*.mdf
*.ldf

# Visual Studio specific
.vs/
*.vspscc
*.vssscc
*_ReSharper.*
_ReSharper.Caches/


# NuGet
*.nupkg
*.snupkg
packages/
.nuget/


# Secrets and configurations
secrets.json
appsettings.Development.json
appsettings.Local.json
